/* CUSTOM STYLING. TIDY UP LATER */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

.section-header {
  text-align: center;
  background-color: white;
  color: #f5f5f5;
  border-radius: 5px;
}

.section-header-wrap {
  background-color: black; 
  padding: 15px 25px; 
  border-radius: 5px; 
  filter: drop-shadow(0 0 0.3rem rgb(90, 90, 90));
}

.opening-blurb {
  background-color: #ffffff;
  line-height: 28px;
  /*
  clip-path: polygon(
    0 0,
    100% 0, 
    100% 100%,
    0 95%
  );
  */
}

.container-padding {
  padding-left: 12px;
  padding-right: 12px;
}

.review-album-name {
  font-style: italic;
}

.review-summary {
  font-family: 'Spectral', serif;
  font-style: italic;
  line-height: 22px;
}

.album-artwork {
  border-radius: 5px;
  margin-bottom: 15px;
}

.story-artwork {
  border-radius: 5px;
  width: 95%;
}

.story-artwork:hover {
  opacity: 0.7;
}

p {
  font-size: 17px;
}

h2 {
  font-size: 28px;
  text-align: center;
}

h3 {
  font-size: 24px;
  text-align: center;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  margin: 5px 0;
}

a, a:visited {
  color: #f01d4f;
}

a:hover {
  color: pink;
}

img {
  -ms-interpolation-mode: bicubic;
  width: 100%;
}

.section {
  padding-bottom: 40px;
}

.spacer {
  background-color: white;
  height: 30px;
}

.article-image {
  border-radius: 5px;
  margin: 0 0 10px 0;
}

.review-info {
  padding-left: 30px;
}

.funnyfarm-image {
  border-radius: 5px;
}

/* ------------------------------------------------------- */

p, h1, h2, h3, h4, h5, h6,
.header,
.title,
.subtitle,
.footer-text {
  font-family: 'Source Sans Pro', sans-serif;
}

.header {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 12px;
  color: #DF4726;
}

.footer-text {
  font-size: 12px;
  line-height: 16px;
  color: #aaaaaa;
}
.footer-text a {
  color: #aaaaaa;
}

.container {
  width: 600px;
  max-width: 600px;
}

.content {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ffffff;
}

code {
  background-color: #eee;
  padding: 0 4px;
  font-family: Menlo, Courier, monospace;
  font-size: 12px;
}

hr {
  border: 0;
  border-bottom: 1px solid #000000;
}

.hr {
  height: 1px;
  border-bottom: 2px solid #f5f5f5;
  margin: 15px 0;
}

.hr-last {
  height: 1px;
  border-bottom: 2px solid #ffffff;
  margin: 15px 0;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #374550;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #2469A0;
}
.subtitle span {
  font-weight: 400;
  color: #999999;
}

.body-text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #333333;
}

.col {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #333333;
  width: 100%;
}

a[href^="x-apple-data-detectors:"],
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* RESPONSIVE */

body {
    margin: 0;
    padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  table {
    border-spacing: 0;
  }
  
  table td {
    border-collapse: collapse;
  }
  
  .ExternalClass {
    width: 100%;
  }
  
  .ExternalClass,
  .ExternalClass p,
  .ExternalClass span,
  .ExternalClass font,
  .ExternalClass td,
  .ExternalClass div {
    line-height: 100%;
  }
  
  .ReadMsgBody {
    width: 100%;
    background-color: #ebebeb;
  }
  
  table {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
  }
  
  .yshortcuts a {
    border-bottom: none !important;
  }
  
  @media screen and (max-width: 599px) {
    .force-row,
    .container {
      width: 100% !important;
      max-width: 100% !important;
    }
    .review-info {
      padding-left: 0;
    }
  }
  @media screen and (max-width: 400px) {
    .container-padding {
      padding-left: 12px !important;
      padding-right: 12px !important;
    }
    .review-info {
      padding-left: 0;
    }
  }
  .ios-footer a {
    color: #aaaaaa !important;
    text-decoration: underline;
  }